---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import ProjectsCard from "../components/new/ProjectsCard.astro";
import About from "../components/new/About.astro";
import Avatar from "../components/new/Avatar.astro";
import Photos from "../components/new/Photos.astro";
import TechStack from "../components/new/TechStack.astro";
import Spotify from "../components/new/Spotify.astro";
import MapCard from "../components/new/MapCard.astro";
import { projectData } from "@/content/data";

const numProjects: number = projectData.length - 1
const numYears: number = new Date().getFullYear() - 2021
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["10%", "0%"], opacity: [0, 1] },
      {
        at: "-0.2",
        duration: 0.1,
        delay: stagger(0.1),
        easing: spring({ velocity: 100, stiffness: 60, damping: 20 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);


</script>

<!-- TODO: to fill in description and title -->
<Layout
  title="Enoch Mok"
  description=""
  >
  <main
    class="min-h-full text-white m-auto p-2 grid grid-flow-row auto-rows-auto gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 sm:grid-cols-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-4 lg:gap-4 prose prose-headings:font-poppins font-notosans prose-invert"
  >


  <About />

  <Card colSpan="sm:col-span-1" rowSpan="sm:row-span-1 lg:row-span-2" title="NumCommits" numCard={true}>
  <div class="flex flex-col items-center justify-center text-center h-full">
      <div class="text-8xl">
        {numYears}
      </div>
      <div class="text-base">years of coding
      </div>
    </div>
  </Card>
  <Card colSpan="sm:col-span-1" rowSpan="sm:row-span-1 lg:row-span-2" title="NumProjects" numCard={true}>
    <div class="flex flex-col items-center justify-center text-center h-full">

      <div class="text-8xl">
        {numProjects}
      </div>
      <div class="text-base">
        self-started projects
      </div>
    </div>
</Card>
<Photos />
<Avatar />
  <ProjectsCard />
    <TechStack />
    <MapCard />
    <Spotify />

    <!-- OLD -->
    <!-- <IntroCard />
    <AboutMe />
    <ContactsCard />
    <Now />
    <Card
      colSpan="md:col-span-1"
      rowSpan="md:row-span-1"
      title="Countries I visited"
      href="travel"
      colorText="text-neutral-900"
    >
      <div class="h-full w-full absolute inset-0 -z-10">
        <Globe client:load />
      </div>
    </Card>
    <Card
      colSpan="md:col-span-1"
      rowSpan="md:row-span-2 flex gap-4"
      title="projects"
      href="/projects"
    />
    <Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
      <p class="text-xs">
        © 2024 · Crafted with ☕ using <a
          href="https://astro.build/"
          target="_blank"
          class="text-red-500">Astro</a
        > by Gianmarco.
      </p>
    </Card> -->
  </main>
</Layout>
