---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <div class="text-white text-xl font-bold">
        Let's start working together!
      </div>
    </header>
    <address class="flex flex-col mt-4">
      <div class="text-gray-500">Contact Details</div>
      <p>{LINKS.email}</p>
    </address>
    <div class="flex flex-col mt-4 w-fit">
      <div class="text-gray-500">Socials</div>
      <ul>
        <li>
          <a href={LINKS.linkedin} target="_blank">LinkedIn</a>
        </li>
        <li>
          <a href={LINKS.github} target="_blank">Github</a>
        </li>
      </ul>
    </div>
  </div>
</Card>
