---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ProjectRow from "../../components/Projects/ProjectRow.astro";

const projects = (await getCollection("projects"))?.sort(
  (projectsEntryA, projectsEntryB) =>
    (new Date(projectsEntryB.data.date) || new Date()).getTime() -
    (new Date(projectsEntryA.data.date) || new Date()).getTime(),
);
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../../lib/constants";

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Projects | Enoch Mok"
  description="Software developer with strong focus on the user experience animations and micro interactions"
>
  <main
    class="w-full h-screen relative lg:max-h-[800px] flex flex-col justify-start items-start max-w-3xl mx-auto p-8 prose prose-headings:font-poppins font-notosans prose-invert"
  >
    <a
      href="/"
      class="text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 mb-8 border-1 border-solid border-neutral-600 rounded-lg"
      >Back</a
    >
    <h1 class="text-5xl font-bold mb-0 pt-0 text-neutral-100">Projects</h1>
    <ul class="w-full mt-0 pt-0">
      <h2 class="select-none relative h-14 pointer-events-none">
        <span
          class="text-[3.2em] text-zinc-100 font-bold stroke-[3.5px] stroke-white opacity-5 absolute top-0 -z-30"
        >
          2024
        </span>
      </h2>

      {
        projects?.map((project) => (
          <ProjectRow
            title={project.data.title || "No title"}
            date={new Date(project.data.date) || new Date()}
            url={project.slug}
          />
        ))
      }
    </ul>
  </main>
</Layout>
