---
import Card from "../Card/index.astro";
---

<Card colSpan="sm:col-span-2 md:col-span-2" rowSpan="sm:row-span-2 md:row-span-4">
  <div class="flex items-center justify-center align-middle h-full">

    <div class="font-borel italic text-4xl p-8 text-center h-full">
      hello<span class="font-poppins text-4xl">!</span>
      <br />
      i'm enoch
    </div>
  </div>
</Card>
