---
import Card from "../Card/index.astro";
---

<Card colSpan="sm:col-span-2 md:col-span-2" rowSpan="sm:row-span-2 md:row-span-4" title="Avatar">
  <div class="items-center text-center align-middle">
    Avatar
  </div>
</Card>
