---
import Card from "../Card/index.astro";
import PhotosCarouselAstro from "./PhotosCarouselAstro.astro";

---

<Card colSpan="sm:col-span-2 md:col-span-1" rowSpan="sm:row-span-2 md:row-span-3 lg:row-span-3" title="" addClass="w-full p-0 m-0 min-h-full">
  <div class="flex min-h-full items-center justify-center flex-col">
     <PhotosCarouselAstro/>
  </div>
</Card>
