---
import { Icon } from "astro-icon/components";
import Card from "../Card/index.astro";
import { projectData } from "@/content/data";
import { Separator } from "../ui/separator";
import { getCollection } from "astro:content";

// console.log(projectData)
const projectsData = (await getCollection("projects"))?.map((project) => project.data).sort((a, b) => a.title.localeCompare(b.title));

// console.log(projectsData)

---

<Card colSpan="sm:col-span-2 md:col-span-1" rowSpan="sm:row-span-5 md:row-span-3 lg:row-span-3 gap-4 lg:overflow-y-hidden">
  <div class="flex flex-col justify-between h-full">
    <div class="flex flex-row justify-between">
      <h1 class="text-xl">Projects</h1>
      <a href="/projects" class="h-max w-full border-white border-spacing-52" aria-label="Projects Page">
        <Icon name="material-symbols:keyboard-double-arrow-right-rounded"
        class="h-6 float-right hover:text-primary-500 hover:translate-x-1 hover:-translate-y-1 transition-transform ease-in-out duration-100 border-white border-spacing-52"
        />
      </a>
    </div>
      
    <!-- Projects Section -->
         <div class="overflow-auto max-h-[calc(100vh-200px)] w-full">               
               {projectsData.map((item, index) =>
            (
                  <div id={index.toString()} class="flex justify-between items-center my-2 text-base">
                    <a href={item.link} class="no-underline">
                      <span class="items-start">{item.title}</span>
                    </a>
                  </div>
                  <div>
                  {index < projectData.length - 1 ? (
                    <Separator className="my-2" />
                  ) : (
                    ""
                  )}
                  </div>
            ) 
          )}
        </div>
  </div>
</Card>
