---
import Card from "../Card/index.astro";
---

<!-- Can refer to this ETL project https://medium.com/apache-airflow/building-etl-pipeline-with-airflow-spotify-d1bccb2f4d13 -->

<Card colSpan="sm:col-span-2" rowSpan="sm:row-span-2" title="Spotify">
  <div class="">
    Spotify Stats
  </div>
</Card>
