---
import Card from "../Card/index.astro";
---

<Card colSpan="sm:col-span-2 lg:col-span-1" rowSpan="sm:row-span-2 md:row-span-3" title="Tech Stack">
  <div class="">
    Tech Stack Carousell
  </div>
</Card>
