---
import Card from "../Card/index.astro";
import TechStackCarouselAstro from "./TechStackCarouselAstro.astro";

---

<Card colSpan="sm:col-span-2 md:col-span-1" rowSpan="sm:row-span-2 md:row-span-3 lg:row-span-2" title="" addClass="w-full p-0 m-0 order-5 lg:order-none">
  <div class="flex h-full items-center justify-center flex-col">
    <span class="text-2xl text-white pb-0">Tech Stack</span>
    <!-- <p class="text-base"></p> -->
     <TechStackCarouselAstro/>
  </div>
</Card>
