---
import Card from "../Card/index.astro";
import TechStackCarousel from "./TechStackCarousel.tsx"
import TechStackCarouselA from "./TechStackCarouselA.astro";
import { getImage } from "astro:assets";
import { type ImageProps } from "../../lib/utils"
import type { ImageMetadata } from "astro";


---

<Card colSpan="sm:col-span-2 lg:col-span-1" rowSpan="sm:row-span-2 md:row-span-3" title="" addClass="flex align-middle items-center">
  <div class="">
    <span class="text-2xl text-white">Tech Stack</span>
    <!-- <TechStackCarousel client:load/> -->
     <TechStackCarouselA/>
  </div>
</Card>
